@{
    ViewData["Title"] = "Attendance";
}


<body>
    <h1>Attendance Register</h1>
    <input type="text" placeholder="New student Name"/>
    <button>Add</button>

    <table>
        <tr>
            <th>#Name</th>
            <th>Status</th>
            
        </tr>
        
        <tr>
            <td>2Student2</td>
            <td>
                <select>
                    <option>-- Select --</option>
                    <option>Present</option>
                    <option>Absent</option>
                    <option>Testing</option>
                    <options>Test2</options>
                </select>
            
            </td>
            <td> <button>Remove</button></td>
        </tr>

        <tr>
            <td> 3John Rakgoale</td>
            <td>
                <select>
                    <option>-- Select --</option>
                    <option>Present</option>
                    <option>Absent</option>
                    
                </select>
            </td>
            <td><button>Remove</button></td>
        </tr>
        
    </table>
    


</body>
